---
import EducationItem from "./EducationItem.astro";
const EDUCATION = [
    {
        date: "Abril 2024 - Agosto 2024",
        title: "Desarrollador Web Full Stack",
        company: "Soy Henry",
    },
    {
        date: "Marzo 2015 - Diciembre 2017",
        title: "Martillero, Corredor Público y Corredor Inmobiliario",
        company: "Siglo XXI",
    }
];
---

<ol class="relative mt-16">
    {
        EDUCATION.map((education) => (
            <li class="">
                <EducationItem {...education} />
            </li>
        ))
    }
</ol>
