---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Diciembre 2022 - Enero 2024",
    title: "Técnico de Fotocopiadoras",
    company: "Sistemas Junín",
    description:
      "Encargado de la reparación y mantenimiento de fotocopiadoras, asegurando un rendimiento óptimo y satisfacción del cliente. Realicé diagnósticos precisos de problemas técnicos, reemplazo de piezas y actualización de software de las máquinas. Resolución de problemas en sitio y asistencia técnica a clientes, garantizando un servicio de calidad y tiempos de inactividad mínimos.",
  },
  {
    date: "Septiembre 2020 - Noviembre 2022",
    title: "Martillero Público",
    company: "Yanina Louro Inmobiliaria",
    description:
      "Gestión de transacciones inmobiliarias, incluyendo registro, cobros y pagos. Experiencia en administración de contratos y escrituras como Martillero y Corredor Público. Capacidad para mantener relaciones efectivas con clientes y supervisar todo el proceso de compraventa.",
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "Septiembre 2018 - Marzo 2020",
    title: "Atención al cliente",
    company: "Hackers Tecnología",
    description:
      "Experiencia en atención al público en entornos tecnológicos. Mantenimiento de software enfocado en resolver problemas técnicos. Asistencia a clientes en el uso de sistemas informáticos, asegurando un servicio eficiente.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
